.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(115, 114, 114, 0.536);
    border-radius: 3px;
}

.form-input{
    display: block;
    padding: 8px;
    margin: 8px;
    width: 80%
}

.form-input input{
    width: 100%
}

.hidemessage{
    display: none;
}

.showmessage{
    display:block;
}